$black: #000;
$white: #fff;
$orange: rgb(218, 165, 52);
$light: #3A4750;
$red: #D72323;
$dark: #303841;
$lighter: #EEEEEE;

@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
}